<footer>
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="#">
            Home
          </a>
        </li>
        <li>
          <a href="#">
            Conversations
          </a>
        </li>
        <li>
          <a href="#">
            About US
          </a>
        </li>
        <li>
          <a href="#">
            Contact
          </a>
        </li>
      </ul>
    </nav>
    <p class="copyright pull-right">
      &copy; {{test | date: 'yyyy'}} <a href="#">Marc Magdi</a>, Believe to Achieve
    </p>
  </div>
</footer>
